@import url(../../CSS/CSS-import/Fontes.css);

body {
    overflow-y: hidden;
    font-family: VWText_Regular;
    color: #0B2545;
}

.area {
    display: grid;
    grid-template-columns: auto auto auto auto;
    align-items: center;
    margin-left: 1.5%;
    margin-top: 1%;
    width: 97vw;
    height: 47vh;
    background-color: lightgray;
    border-radius: 25px;
}

img {
    width: 100%;
    height: 100%;
    border-radius: 100%;
}

#brunaInfo {
    display: none;
    position: absolute;
    top: 10%;
    background-color: gray;
    left: 20%;
    width: 25%;
    height: auto;
    border-radius: 15px;
    transition: all 1s;
}

#davidInfo {
    display: none;
    position: absolute;
    top: 10%;
    background-color: gray;
    left: 40%;
    width: 25%;
    height: auto;
    border-radius: 15px;
}

#eduardoInfo {
    display: none;
    position: absolute;
    top: 10%;
    background-color: gray;
    left: 60%;
    width: 25%;
    height: auto;
    border-radius: 15px;
}

#filipeInfo {
    display: none;
    position: absolute;
    top: 10%;
    background-color: gray;
    left: 60%;
    width: 25%;
    height: auto;
    border-radius: 15px;
}

#giuliaInfo {
    display: none;
    position: absolute;
    top: 60%;
    background-color: gray;
    left: 20%;
    width: 25%;
    height: auto;
    border-radius: 15px;
}

#kaueInfo {
    cursor: pointer;
    display: none;
    position: absolute;
    top: 60%;
    background-color: gray;
    left: 40%;
    width: 25%;
    height: auto;
    border-radius: 15px;
}

#luizaInfo {
    display: none;
    position: absolute;
    top: 60%;
    background-color: gray;
    left: 60%;
    width: 25%;
    height: auto;
    border-radius: 15px;
}

#lemosInfo {
    display: none;
    position: absolute;
    top: 60%;
    background-color: gray;
    left: 60%;
    width: 25%;
    height: auto;
    border-radius: 15px;
}


#bruna:hover #brunaInfo {
    cursor: pointer;
    display: block;
    box-shadow: 5px 10px rgba(0, 0, 0, 0.096);
}


#david:hover #davidInfo {
    cursor: pointer;
    display: block;
    box-shadow: 5px 10px rgba(0, 0, 0, 0.096);
}


#eduardo:hover #eduardoInfo {
    cursor: pointer;
    display: block;
    box-shadow: 5px 10px rgba(0, 0, 0, 0.096);
}


#filipe:hover #filipeInfo {
    cursor: pointer;
    display: block;
    box-shadow: 5px 10px rgba(0, 0, 0, 0.096);
}


#giu:hover #giuliaInfo {
    cursor: pointer;
    display: block;
    box-shadow: 5px 10px rgba(0, 0, 0, 0.096);
}


#kaue:hover #kaueInfo {
    cursor: pointer;
    display: block;
    box-shadow: 5px 10px rgba(0, 0, 0, 0.096);
}


#luiza:hover #luizaInfo {
    cursor: pointer;
    display: block;
    box-shadow: 5px 10px rgba(0, 0, 0, 0.096);
}

#lemos:hover #lemosInfo {
    cursor: pointer;
    display: block;
    box-shadow: 5px 10px rgba(0, 0, 0, 0.096);
}

.card {
    height: 200px;
    width: 200px;
    margin-top: 10px;
    border-radius: 100%;
    background-color: aliceblue;
}

#total {
    position: absolute;
    top: 0%;
    left: 0%;
    right: 0%;
    bottom: 0%;
    background-color: white;
}

.head {
    width: 100%;
    height: 30px;
    background-color: darkgray;
    border-radius: 5px;
}

#Titulo {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 200%;
    height: 10%;
}

#title {
    margin-left: 20%;
    margin-top: 10%;
    width: 100%;
}